* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*background-color: #F2F2F7;*/
}


.container1 {  
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top:1em;
    margin-top: 100px;
    max-width: 900px;
    overflow:hidden;
}

.login {
    display:flex;
   
    margin-bottom:20px;
}

#lmember {
    color: #A45FDF;
    margin-left:3px;
    text-decoration: none;
}



.form_member {
    display:flex;
    flex-direction: column;
    margin: 15px;
    width:100%;
  
    
    
}

.label {
    font:Roboto Slab;
    font-size: 16px;
    font-weight:bold;
    display:flex;
    justify-content: flex-start;
}

.form-control, #dropdown {
    
    font:Roboto Slab;
    font-size:16px;
    border-radius: 4px;
    padding:3px;
}

.submitbtn, .resetbtn {
   width:250px;
   border-radius: 4px;
   margin-bottom:5px;
   font-weight: bold;
   font-size: 16px;
   color:white;
   cursor: pointer;
}

.submitbtn {
    margin-top:15px;
    background-color: #A45FDF;
border: solid #A45FDF;
padding:3px;}


.resetbtn {
   
    background-color: #CA3B3B;
    border: solid #CA3B3B;

}

::placeholder {
    color:#AEAEB2;
}


  
#signupform input[type="password"] {
padding: 3px 30px 3px 3px;
width:100%;
}

.psw {
    position:relative;
    margin-bottom: 20px;
  height: 50px;
 
}

.fa-eye {
    position:absolute;
  top:88%;
  right:4%;

    color:#AEAEB2;
   
}

.error-message {
     color: red;
  margin-top: 5px;

}