<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Sign_Up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="container">
    <div>
        <h1 class="signup">Sign Up</h1>
    </div>
    <div class=login>
        <p class="member"> Already a member?</p>
       <a href="../Login/Login.html" class="lmember">Login</a>
        
    </div>
    <div id="signupform">
        <form>
             <div class="form_member">
                <label for="dropdown">Role</label>
               <select id="dropdown" required class="form-control">
                    <option id="select1" value="" disabled selected hidden>Select role</option> 
                    <option value="Doctor">Doctor</option>
                    <option value="Patient">Patient</option>
               </select>
            </div>



            <div class="form_member">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required class="form-control" placeholder="Enter your name"/>
            </div>

             <div class="form_member">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" required class="form-control" placeholder="Enter your phone number"/>
            </div>

             <div class="form_member">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required class="form-control" placeholder="Enter your email"/>
            </div>

             <div class="form_member psw">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="Enter your password"/>
                <i class="fa-solid fa-eye" id="show_password"></i>
            </div>

        </form>
    </div>

    <div class="sbutton">
        <a href=#>
            <button type="submit" class="submitbtn">Submit</button>
        </a>
    </div>
    <div class=rbutton>
        <a href=#>
            <button type="reset" class="resetbtn">Reset</button>
        </a>
    </div>

    </div>
</div>
</body>
</html>