* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #F2F2F7;
}
body {
    background-color: #F2F2F7;
}
nav {
    padding: 1rem;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F7;
    margin-bottom: 0;
}

.nav_links {
    list-style:none;
    gap:1rem;
    font-size:1rem;
    font-weight:500;
    display:flex; 
    align-items: center;
    
}

.SH {
    font: Roboto Serif;
    font-weight:bold;
    font-size:32px;
    text-decoration: none;
    color:black;
    
}

.nav_logo {
    background-color:#F2F2F7 ;
    display: flex;
    align-items: center;

}
.SH img {
    vertical-align: middle; /* Aligns the image vertically in the middle */
    margin-left:-1px;
   
  }

.btn1 {
    background-color: #A45FDF;
    font-size: 16px;
    font:Roboto Serif;
    font-weight:bold;
    padding: 8px 16px 8px 16px;
    color:white;
    border-radius: 60px;
    border: solid #A45FDF;
    cursor: pointer;
   
}

.link .newlink {
    font:Roboto Serif;
    font-weight:bold;
    font-size:20px;
    color:black;
    text-decoration: none;
    
    
}

.link .newlink:hover {
    color:#A45FDF;
    text-decoration: underline;
  
}

.Nicon {
    display:none;
}


/* Responsive styles */
@media (max-width: 768px) {
    .active_nav_links {
      display: none; /* Hide the links by default on smaller screens */
    
    }
  
    .Nicon {
      display: block; /* Show the menu icon on smaller screens */
      cursor: pointer;
    }
  
    .Nicon.active + .active_nav_links {
      display: flex; /* Show the links when the icon is active */
    }


    .active_nav_links.active {
        display: flex; /* Show when active */
        flex-direction: column;
        align-items:end;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #f2f2f7;
        width: 100%;
  }

 
}