<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="container">
    <div>
        <h1 class="login1">Login</h1>
    </div>
    <div class=login>
        <p class="member"> Are you a new member?</p>
       <a href="../Sign_Up/Sign_Up.html" class="lmember">Sign Up Here</a>
        
    </div>
    <div id="signupform">
        <form>

            <div class="form_member">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required class="form-control" placeholder="Enter your email"/>
            </div>

             <div class="form_member psw">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="Enter your password"/>
                <i class="fa-solid fa-eye" id="show_password"></i>
            </div>

        </form>
    </div>

    <div class="lbutton">
        <a href=#>
            <button type="submit" class="loginbtn">Submit</button>
        </a>
    </div>
    <div class=rbutton>
        <a href=#>
            <button type="reset" class="resetbtn">Reset</button>
        </a>
    </div>
    <div>
        <a href=# class="fpw"> Forgot password? </a>
    </div>

</div>
    
</body>
</html>